@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
body {
	margin: 0 auto;
	padding: 0px;
	height: 100%;
	font-family: 'Playfair Display', serif;
}
div,p,table {
	margin: 0 auto;
	padding: 0px;
}
img {
	cursor: pointer;
}
h1 {
	color: #595757;
	text-align: center;
	letter-spacing: 1px;
	text-decoration: underline;
}
.check-top {
	background: url('../images/join.jpg');
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*Top grey backgroung bar*/
.backimg {
	height: 60px;
	width: 100%;
	background-color: #595757;
}
#main_top {
	width: 100%;
	height: 80px;
	padding-top: 5px;
}
#main_top img {
	padding-top: 5px;
	margin: 0 auto;
	left: 47%;
}
/*Side Navigation*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	font-family: 'Rajdhani', sans-serif;
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
}
.sidenav a:hover {
	color: #ffd02b;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
#menu_icon {
	color: #fff;
	padding-left: 15px;
	font-size: 30px;
	cursor: pointer;
}
/*Hotel Logo DIV*/
#logo {
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 3px;
}
/*Hotel logo style*/
.home_logo {
	cursor: pointer;
	font-family: 'Shadow Into Light Two', cursive;
	font-weight: bold;
	font-size: 200%;
	color: #ccc;
	text-decoration: none;
	position: fixed;
	top: 8px;
	left: 10px;
}
.home_logo:hover {
	text-decoration: none;
	color: #ffd02b;
}
/*LOGIN, JOIN US Button DIV*/
#login_bar {
	position: absolute;
	top: 8px;
	right: 20px;
	margin-top: 5px;
}
#login_bar a {
	text-decoration: none;
	width: 150px;
}
/*LOGIN, JOIN US Button style*/
button {
	font-size: 85%;
	color: #ffd02b;
	border-radius: 3px;
	text-decoration: none;
	letter-spacing: 1.5px;
	font-family: 'Rajdhani', sans-serif;
	margin: 4px;
	padding: 4px 10px;
	background-color: #ffffff;
	border: none;
}
button:hover {
	background-color: #ffd02b;
	color: #ffffff;
	cursor: pointer;
	border: none;
}
select {
	background-color: #f1f1f1;
}
/*Menu*/
#s_bar a {
	position: fixed;
	left: -100px;
	transition: 0.3s;
	padding: 8px 10px 8px 15px;
	width: 130px;
	text-decoration: none;
	font-size: 16px;
	color: white;
	border-radius: 0 5px 5px 0;
}
#s_bar a:hover {
	left: 0;
}
.menu {
	letter-spacing: 1px;
	background-color: #595757;
}
.menu:hover {
	background: #ffd02b;
	color: #595757;
}
#about {
	top: 60px;
}
#booking {
	top: 120px;
}
#room {
	top: 180px;
}
#contact {
	top: 240px;
}
.center_container {
	padding-top: 20px;
}
.container {
	width: 60%;
	margin: 0 auto;
	padding: 10px;
	height: 100%;
	min-height: 320px;
	min-width: 450px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
/*Footer*/
footer {
	background-color: #f2f2f2;
	width: 100%;
	height: auto;
	font-family: 'Rajdhani', sans-serif;
}
.footer_wrap {
	width: 75%;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	color: #595757;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer_wrap div {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0px;
	height: 150px;
	display: inline-block;
	margin: 0 auto;
}
.footer_title {
	font-size: 95%;
	font-weight: bold;
	text-align: center;
	margin: 5px;
}
.footer_wrap ul {
	list-style: none;
	min-width: 80px;
	margin: 0 5px;
	padding: 0px;
}
.footer_wrap li {
	font-size: 73%;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin: 10px auto;
}
#copyright {
	text-align: center;
	color: #ccc;
	height: 20px;
	font-size: 80%;
	padding-bottom: 30px;
}
.join_welcome {
	background: url('../images/main.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.text-block {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0 20px;
}
@media screen and (max-height:450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size:18px;}
}