.signup-form input[type=text], .signup-form input[type=password], .signup-form input[type=email], .signup-form input[type=number] {
	width: 60%;
	padding: 12px 20px;
	margin: 15px 10px;
	display: inline-block;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	border-top: none;
	border-left: none;
	border-right: none;
}
::placeholder {
	color: #ccc;
}
.backimg {
	height: 60px;
	width: 100%;
	background-color: #595757;
}
.wrap-form {
	width: 100%;
	align-items: center;
}
.signup-top {
	background: url('../images/signup.jpg');
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.yellow {
	width:100%;
	height:10px;
	background-color:#ffd02b;
}
.signup-title {
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	position: absolute;
	text-align: center;
	top: 40%;
	left: 50%;
	width:100px;
	transform:translate(-50%,-50%);
	font-family: 'Rajdhani', sans-serif;
	border-top: 2px solid #ffd02b;
	padding: 5px;
	letter-spacing: 1.5px;
}
.signup-form {
	width: 80%;
	min-width: 320px;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
}
.comp {
	font-size: 80%;
	color: red;
	vertical-align: center;
}
.reg_icon {
	width: 20px;
	height: auto;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
#reM {
	margin: 0px;
	float: right;
}
#SignupB {
	width: 150px;
	padding: 12px 15px;
	margin: 25px auto;
	display: inline-block;
	border-radius: 20px;
	box-sizing: border-box;
	border: 1px solid #ffb02d;
	color: #ffb02d;
	letter-spacing: 1.5px;
	font-size: 90%;
	cursor: pointer;
}
#SignupB:hover {
	background-color: #ffb02d;
	color: #ffffff;
	cursor: pointer;
}